In [1]:
import numpy as np
import math
import pandas as pd

In [2]:
d = [(0,25,43,57,43,61,29,41,48,71),
              (25,0,29,34,43,68,49,66,72,91),
              (43,29,0,52,72,96,72,81,89,114),
              (57,34,52,0,45,71,71,95,99,108),
              (43,43,72,45,0,27,36,65,65,65),
              (61,68,96,71,27,0,40,66,62,46),
              (29,49,72,71,36,40,0,31,31,43),
              (41,66,81,95,65,66,31,0,11,46),
              (48,72,89,99,65,62,31,11,0,36),
              (71,91,114,108,65,46,43,46,36,0)]

weigth_m = (95,4,60,32,23,72,80,62,65,46)
value_m = (55,10,47,5,4,50,8,61,85,87)
itemCity = (9,1,5,8,6,7,0,4,3,2)
v_min = 1
v_max = 2
r=1

items = []
for w,v in zip(weigth_m,value_m):
    items.append(v/w)
df = np.array([weigth_m,value_m,items,itemCity])
df = np.transpose(df)
start_node = 0

In [3]:
df= pd.DataFrame(df)
df

      0     1         2    3
0  95.0  55.0  0.578947  9.0
1   4.0  10.0  2.500000  1.0
2  60.0  47.0  0.783333  5.0
3  32.0   5.0  0.156250  8.0
4  23.0   4.0  0.173913  6.0
5  72.0  50.0  0.694444  7.0
6  80.0   8.0  0.100000  0.0
7  62.0  61.0  0.983871  4.0
8  65.0  85.0  1.307692  3.0
9  46.0  87.0  1.891304  2.0

In [4]:
w_c =0
w=269
for i in df[0]:
    if  w >=w_c + i:
        df["flag"] = 1
df

      0     1         2    3  flag
0  95.0  55.0  0.578947  9.0     1
1   4.0  10.0  2.500000  1.0     1
2  60.0  47.0  0.783333  5.0     1
3  32.0   5.0  0.156250  8.0     1
4  23.0   4.0  0.173913  6.0     1
5  72.0  50.0  0.694444  7.0     1
6  80.0   8.0  0.100000  0.0     1
7  62.0  61.0  0.983871  4.0     1
8  65.0  85.0  1.307692  3.0     1
9  46.0  87.0  1.891304  2.0     1

In [5]:
data = df.sort_values(by=2, ascending = False)
data.reset_index(inplace=True)
data

   index     0     1         2    3  flag
0      1   4.0  10.0  2.500000  1.0     1
1      9  46.0  87.0  1.891304  2.0     1
2      8  65.0  85.0  1.307692  3.0     1
3      7  62.0  61.0  0.983871  4.0     1
4      2  60.0  47.0  0.783333  5.0     1
5      5  72.0  50.0  0.694444  7.0     1
6      0  95.0  55.0  0.578947  9.0     1
7      4  23.0   4.0  0.173913  6.0     1
8      3  32.0   5.0  0.156250  8.0     1
9      6  80.0   8.0  0.100000  0.0     1

In [14]:
w_c =0
w=269
indice = 0

def currentVelocity(v_max,v_min, w, w_c):
    v_c = v_max - ((w_c)*(v_max - v_min/ w))
    return v_c

def currentTime(d,x,y,v_c):
    return d[x][y]/v_c

for i in data[0]:
    if  w >=w_c+i:
        data["flag"][indice] = 1
        w_c = w_c+i
        print(w_c)
    else:
        data["flag"][indice] = 0
    indice = indice + 1



g=0
for i,j in zip(data[1],data["flag"]):
    if  j==1:
        g += i
        
data

4.0
50.0
115.0
177.0
237.0
260.0

C:\Users\ordaz\AppData\Local\Temp\ipykernel_9072\3287045540.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["flag"][indice] = 1
C:\Users\ordaz\AppData\Local\Temp\ipykernel_9072\3287045540.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["flag"][indice] = 0

   index     0     1         2    3  flag
0      1   4.0  10.0  2.500000  1.0     1
1      9  46.0  87.0  1.891304  2.0     1
2      8  65.0  85.0  1.307692  3.0     1
3      7  62.0  61.0  0.983871  4.0     1
4      2  60.0  47.0  0.783333  5.0     1
5      5  72.0  50.0  0.694444  7.0     0
6      0  95.0  55.0  0.578947  9.0     0
7      4  23.0   4.0  0.173913  6.0     1
8      3  32.0   5.0  0.156250  8.0     0
9      6  80.0   8.0  0.100000  0.0     0

In [7]:
cities = []
for i,j in zip(data[3],data["flag"]):
    if j == 1:
        cities.append(i)
citiesInt = list(map(int, cities))
z = []
for i,j in zip(data["index"],data["flag"]):
    if j == 1:
        z.append(i)

In [8]:
node_l = len(citiesInt)
x = np.zeros(node_l+2)
nearest_node = -1
nearest_node2 = -1
nearest_distance = d[start_node][len(x)]
nearest_distance2 = nearest_distance
for j in citiesInt:
    if d[start_node][j] <= nearest_distance and d[start_node][j]>0:
        nearest_distance = d[start_node][j]
        nearest_node = j
    if d[start_node][j] > nearest_distance and d[start_node][j] < nearest_distance2 and d[start_node][j]>0:
        nearest_distance2 = d[start_node][j]
        nearest_node2 = j
index=0
x[index] = start_node
index += 1
x[node_l+1] = start_node
x[index] = nearest_node2
index += 1
x[node_l] = nearest_node
node_l -= 1

In [9]:
citiesInt.remove(nearest_node)
citiesInt.remove(nearest_node2)
def routeOthersNodes(citiesInt,nearest_node,nearest_node2,d,x,node_l,index,index2):
    n_n = -1
    n_n2 = -1
    i=0
    n_d = d[nearest_node][len(x)]
    n_d2 = max(d)
    n_d2a = int(''.join(map(str, n_d2))) + 1
    for j in citiesInt:
        if d[nearest_node][j] <= n_d:
            n_d = d[nearest_node][j]
            n_n = j
        if d[nearest_node2][j] <= n_d2a:
            n_d2a = d[nearest_node2][j]
            n_n2 = j
    x[index] = n_n2
    index += 1
    x[index2] = n_n
    index2 -= 1
    citiesInt.remove(n_n2)
    citiesInt.remove(n_n)
    return n_n,n_n2,index,index2

n_n,n_n2,index1,index2 = routeOthersNodes(citiesInt,nearest_node,nearest_node2,d,x,node_l,index,node_l)
routeOthersNodes(citiesInt,n_n,n_n2,d,x,node_l,index1,index2)

(3, 5, 4, 3)

In [10]:
#if(len(citiesInt)==0):
   # print(g - r * f)
print(x)
print(z)
print(g)

[0. 6. 4. 5. 3. 2. 1. 0.]
[1, 9, 8, 7, 2, 4]
294.0